# Dependencies
node_modules/

# Expo
.expo/
.expo-shared/

# Build outputs
dist/
build/
android/
ios/

# Lock files
*.lock
package-lock.json
yarn.lock

# Logs
*.log

# OS
.DS_Store

# IDE
.vscode/
.idea/

